body{
	padding-top:3px; 
	background-image: url("https://i.pinimg.com/originals/c8/20/fd/c820fd44cf6222488f02fd62eb21a5b6.jpg");
	}
.container{
color: #0c0c0c;
}
.navbar-inverse{
	color: #2c3e50;
}
a{
	color:white;
}
#content{
	text-shadow: 0px 3px 4px red, 0px 8px 13px orange; 
}